h1, h2, p {
  font: arial;
}
h1 {
  text-align: center;
}
.log {
  float: right;
  font-family: sans-serif;
  color: green;
}

.link {
  font-family: sans-serif;
  color: blue;
}
body {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
input[type="submit"] {
  font-size: 20px;
  /* padding: 16px; */
}
p {
  font-size: 23px;
}